.Hero {
  height: 800px;
  background-image: url(../../ZuriImg/hero-bg.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-content {
  display: grid;
  place-items: center;
  padding: 6% 10%;
  color: var(--text-color);
}

.hero-header {
  font-weight: bold;
  font-size: 2rem;
  padding-top: 6rem;
}

.hero-content > :nth-child(3) {
  padding: 3rem 12rem;
  opacity: 0.9;
  text-align: center;
  font-size: 1rem;
  line-height: 1.6;
}

.hero-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 3rem;
}

.btn {
  padding: 12px 25px;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
}

.hero-btns > :nth-child(1),
.hero-btns > :nth-child(2):hover {
  background-color: var(--red);
  color: white;
}

.hero-btns > :nth-child(2),
.hero-btns > :nth-child(1):hover {
  background-color: white;
  color: var(--red);
  border: 1px solid var(--red);
}
