footer {
  margin: 5%;
  color: var(--heading-color);
}

.footer1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials > img {
  margin-right: 0.5rem;
}

.footer2 {
  margin-top: 3rem;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: normal;
}

.last-content {
  display: flex;
}

.last-content > :nth-child(1) {
  margin-right: 1rem;
}

@media (max-width: 768px) {
  footer {
    margin-top: 20%;
  }
  .footer1 {
    flex-direction: column;
    gap: 2rem;
  }

  .footer2 {
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
  }

  .last-content {
    flex-direction: column-reverse;
    gap: 2rem;
  }
}
