.Why {
  padding: 5%;
}

.why-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 4%;
}

.why-us > img {
  position: absolute;
  width: 200px;
  right: 300px;
}

.why-us-l > img {
  position: absolute;
  top: -7rem;
  left: 18rem;
  width: 120px;
}

.why-us-l > p {
  color: var(--red);
  font-size: 1.5rem;
}

.why-us-l > h2 {
  font-size: 2.3rem;
  width: 50%;
}

.why-reasons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 5%;
}

.reason {
  background-color: #fff;
  box-shadow: 0 11px 22px rgb(231 51 43 / 10%);
  padding: 60px 60px 85px 40px;
  position: relative;
  border-radius: 20px;
}

.reason:nth-child(1) {
  background: var(--red);
}

.reason:nth-child(1) > p {
  color: #fff;
}

.reason > :nth-child(1) {
  position: absolute;
  width: 100px;
  top: -2.5rem;
  right: 0;
}

.reason:nth-child(1) > h2,
.reason:nth-child(1) > h1 {
  color: #fff;
}

.reason > h2 {
  font-size: 3rem;
  font-weight: bold;
}

.reason > h1 {
  padding: 1.5rem 0;
  width: 60%;
  font-size: 2rem;
}

.reason > p {
  font-size: 1.1rem;
  color: var(--text-color);
  padding-right: 10px;
}

@media (max-width: 768px) {
  .Why {
    margin-top: 7rem;
  }
  .why-us > img {
    display: none;
  }

  .why-us-l > h2 {
    width: 100%;
    font-size: 1.5rem;
  }

  .why-us-l > img {
    left: 12rem;
    width: 70px;
    top: -4rem;
  }

  .why-reasons {
    grid-template-columns: 1fr;
  }
}
