.home {
  padding: 0% 7%;
  height: 800px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.home-l > h1 {
  font-size: 2.2rem;
  color: var(--heading-color);
}

.red {
  color: var(--red);
}
.home-l > h1 > img {
  position: absolute;
  top: 19rem;
  left: 26.5rem;
}

.home-l > p {
  padding: 2rem 0;
  color: var(--talent-p-color);
  font-size: 1.2rem;
  width: 70%;
}

.btn-home {
  display: flex;
  gap: 1rem;
}

.btn-home > * {
  color: #fff;
  padding: 10px 40px;
  font-size: 1rem;
  letter-spacing: 1px;
  border-bottom-right-radius: 10px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}

.btn-home > :nth-child(1) {
  background-color: var(--red);
}

.btn-home > :nth-child(2) {
  background-color: #585858;
}

.home-r > img {
  width: 65%;
  display: flex;
  float: right;
}

@media (max-width: 768px) {
  .home {
    grid-template-columns: 1fr;
    padding-top: 5rem;
  }
}
