.Questions {
  padding: 3% 5%;
}

.question-heading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.question-heading > img {
  position: absolute;
  width: 150px;
  top: 0;
  left: 5rem;
}

.question-heading > p {
  position: relative;
  margin-top: 5rem;
  font-size: 1.5rem;
  color: var(--red);
}

.question-heading > h3 {
  font-size: 2.5rem;
}

.faqs {
  margin: 10% 7% 5%;
}

.question-and-answer {
  padding: 15px;
  border: 1px solid rgba(71, 44, 111, 0.43);
}

.question {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.question > h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.question > div {
  font-size: 2rem;
}

.answer {
  font-size: 1.1rem;
  color: var(--text-color);
}

.question-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-footer > p {
  color: var(--text-color);
  font-size: 1.1rem;
  margin-right: 20px;
}

.question-footer > :nth-child(2) > button {
  background-color: var(--red);
  color: #fff;
  border-radius: 30px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.question-footer > :nth-child(2) > button > img {
  width: 50px;
  color: #fff;
}

.question-footer > :nth-child(2) > button > p {
  text-decoration: none;
  font-size: 1rem;
}
