.get-started {
  margin: 0% 5% 5%;
  display: grid;
  place-items: center;
  background-color: var(--red);
  color: white;
  padding: 5% 0;
  border-radius: 20px;
  position: relative;
}

.get-started > p {
  font-size: 1.2rem;
}

.get-started > h1 {
  font-size: 3rem;
  text-align: center;
  width: 45%;
  padding: 1rem 0;
}

.get-started > button {
  color: var(--red);
  background-color: #fff;
  padding: 10px 30px;
  font-size: 1rem;
  border-radius: 50px;
  margin: 2rem 0;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}

.round {
  position: absolute;
  top: 3rem;
  left: 10rem;
  width: 13%;
}

.bend {
  position: absolute;
  right: 0;
  top: 0;
}

.curve {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: rotate(180deg);
}

.mains {
  position: absolute;
  width: 12%;
  bottom: 0;
  right: 0;
}
