.join {
  margin: 10% 5%;
}

.join-header {
  text-align: center;
}

.join-header > div {
  color: var(--red);
  font-size: 1rem;
}

.join-header > p {
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 33%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
}

.join-contents {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.join-content {
  background-color: #fffafa;
  padding: 4rem 1.5rem;
}

.join-content > :nth-child(1) {
  background-color: #fff;
  padding: 2rem 0.2rem;
}

.join-content > :nth-child(2) {
  width: 90%;
  padding: 3rem 0;
  color: var(--text-color);
  line-height: 1.5;
}

.join-content > :nth-child(3) {
  color: var(--red);
}

@media (max-width: 992px) {
  .join-header > p {
    padding: 0;
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  .join-contents {
    grid-template-columns: 1fr;
    gap: 1rem;
    max-width: 100%;
  }
}
