.Home {
  padding: 15% 5% 5%;
}

.home-contents {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.home-contents > img {
  width: 500px;
  height: 370px;
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  position: relative;
}

.home-text > :nth-child(1) {
  color: var(--red);
  font-size: 1.2rem;
}

.home-text > :nth-child(2) {
  font-size: 2.8rem;
  font-weight: bolder;
}

.home-text > :nth-child(3) {
  position: absolute;
  width: 150px;
  left: 280px;
  top: 210px;
}

.home-text > :nth-child(4) {
  color: var(--text-color);
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5rem 4rem;
}

.home-text > button {
  padding: 15px 35px;
  background-color: var(--red);
  color: white;
  margin: 1.5rem;
  font-size: 1.1rem;
  border-radius: 30px;
}

.male-face {
  position: absolute;
  left: 0;
  top: 350px;
  width: 60px;
}

.one-wire {
  position: absolute;
  left: 310px;
  top: 400px;
  height: 100px;
}
