.Enroll {
  background-color: var(--red);
  margin-top: 5%;
  padding: 3% 8% 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.Enroll-l {
  position: relative;
  color: white;
}

.Enroll-l > :nth-child(1) {
  position: absolute;
  width: 100px;
  top: 0;
  right: 5rem;
}

.Enroll-l h5 {
  padding-top: 5rem;
  font-size: 1.3rem;
  font-weight: normal;
}

.Enroll-l h2 {
  font-size: 2.7rem;
  padding-bottom: 2rem;
}

.Enroll-l > :nth-child(4) {
  font-size: 1.2rem;
  width: 70%;
}

.Enroll-l > button {
  cursor: pointer;
  margin: 2rem 0;
  padding: 12px 25px;
  border-radius: 20px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: var(--red);
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px,
    rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}

.enroll-bonus {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.enroll-bonus > p {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
  border: 2px solid white;
  width: 220px;
  border-radius: 50px;
  padding: 10px;
}

.enroll-bonus > p > img {
  width: 50px;
}

.dot-image {
  position: absolute;
  top: 105%;
  left: -10%;
  width: 120px;
}

.Enroll-r {
  position: relative;
}

.Enroll-r > img {
  width: 600px;
}

@media (max-width: 768px) {
  .Enroll {
    flex-direction: column;
    padding: 10%;
    display: none;
  }

  .Enroll-l {
    padding: 0 20%;
  }

  .Enroll-l h2 {
    font-size: 2rem;
  }

  .enroll-bonus > p {
    font-size: 0.9rem;
  }
  .Enroll-r > img {
    max-width: 100%;
  }

  .Enroll-l > :nth-child(4) {
    width: 100%;
    font-size: 1.2rem;
  }
  .dot-image {
    left: 5%;
    bottom: 0;
    width: 50px;
  }
}
