.New-nav {
  padding: 1% 5%;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  background-color: rgb(255, 253, 245);
}

.nav-contents {
  display: flex;
  align-items: center;
  gap: 7rem;
}

.nav-contents > :nth-child(1) {
  padding-left: 0;
}

.nav-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-btns > li {
  margin: 0 15px;
  color: var(--text-color);
  font-size: 1.3rem;
  opacity: 0.9;
  font-weight: lighter;
}

.thumbs {
  color: white;
  font-size: 1.3rem;
  background-color: var(--red);
  border-radius: 100px;
  margin-left: -50px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbs > img {
  width: 55px;
}
