.New-nav {
  padding: 1% 5%;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  background-color: rgb(255, 253, 245);
}

.nav-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-contents > :nth-child(1) {
  padding-left: 0;
}

.nav-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8rem;
}

.nav-btns > li {
  margin: 0 15px;
  color: var(--text-color);
  font-size: 1.2rem;
  opacity: 0.9;
  font-weight: lighter;
  cursor: pointer;
}
.nav-btns > li:nth-child(4) {
  margin-right: 0;
}

.enroll-now {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgb(255, 253, 245);
}

.enroll-now > img {
  width: 20%;
  padding: 10px;
  background-color: var(--red);
  border-radius: 50px;
}

.thumbs {
  background-color: var(--red);
  color: #fff;
  padding: 10px 20px;
  margin-left: -10px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border: none;
}

.thumbs p {
  font-size: 1.1rem;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .New-nav {
    padding: 3% 5%;
  }
  .nav-btns {
    display: none;
  }

  .nav-contents > :nth-child(1) {
    width: 150px;
  }

  .enroll-now > img {
    visibility: hidden;
  }

  .thumbs {
    border-radius: 20px;
  }
}
