.Structure {
  padding: 2% 10%;
  position: relative;
}

.structure-header {
  display: grid;
  place-items: center;
  margin-top: 10%;
}

.structure-header > h5 {
  color: var(--red);
  font-size: 1.4rem;
  font-weight: normal;
}

.structure-header > h3 {
  color: var(--heading-color);
  font-size: 2.5rem;
  font-weight: bold;
}

.structure-header > p {
  color: var(--text-color);
  padding-top: 1rem;
  font-size: 1.1rem;
}

.Structure > :nth-child(1) {
  position: absolute;
  width: 120px;
  left: 15rem;
}

.Structure > :nth-child(2) {
  position: absolute;
  width: 130px;
  right: 10rem;
}

.program-structures {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 5%;
}

.structure1,
.structure2 {
  height: 740px;
  background-color: var(--heading-color);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 65px;
  box-shadow: 0 31px 60px rgba(231, 51, 43, 0.2);
  padding: 65px 50px;
  z-index: 5;
}

.structure1 {
  background-image: url(../../ZuriImg/hour.png);
  background-repeat: no-repeat;
  background-size: 100px 150px;
  background-position: right 20px bottom 50px;
}
.structure2 {
  background-image: url(../../ZuriImg/time.png);
  background-repeat: no-repeat;
  background-size: 150px 150px;
  background-position: right 20px bottom 50px;
}

.structure1 > p {
  width: 90%;
}

.structure2 > p {
  width: 100%;
}

.struct > h3 {
  font-size: 2rem;
}

.struct > p {
  padding: 1rem 0 0;
  font-size: 1.1rem;
}

.struct > h6 {
  font-size: 1.1rem;
  padding-top: 1rem;
}

.struct > ul {
  list-style-type: disc;
  list-style-position: inside;
}

.struct > ul > li {
  line-height: 1.5;
}

.clarity {
  display: flex;
  align-items: center;
}

.clarity > img {
  width: 15px;
  margin-left: 5px;
}

.move {
  position: absolute;
  left: 0;
  top: 30rem;
}

.circle1 {
  position: absolute;
  width: 15%;
  right: 5rem;
  bottom: 9rem;
  z-index: 1;
}

.circle2 {
  width: 12%;
  margin-top: 7rem;
  margin-left: -3%;
}

@media (max-width: 768px) {
  .Structure {
    padding: 2% 5%;
    margin-top: 2rem;
  }

  .program-structures {
    display: flex;
    flex-direction: column;
  }

  .structure1 > p {
    width: 100%;
  }

  .structure-header > h3 {
    font-size: 1.8rem;
  }

  .Structure > :nth-child(1) {
    width: 80px;
    left: 3rem;
  }

  .Structure > :nth-child(2) {
    width: 50px;
    right: 1rem;
  }

  .structure-header > p {
    font-size: 1rem;
    text-align: center;
    padding: 5%;
  }

  .circle1 {
    width: 30%;
    bottom: 7rem;
    right: 0;
  }

  .circle2 {
    visibility: hidden;
  }
}
