.About {
  padding: 0 5%;
}

.about-us {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  align-items: center;
}

.about-us > :nth-child(1) {
  font-size: 1.5rem;
  font-weight: bold;
}

.about-us > :nth-child(3) {
  color: var(--text-color);
  font-size: 1.5rem;
  text-align: center;
  opacity: 0.9;
}

.read-link {
  color: #43b97f;
}
