:root {
  --red: #e7332b;
  --text-color: #514949;
}
@font-face {
  font-family: Averta;
  src: url(https://res.cloudinary.com/dafsch2zs/raw/upload/v1596618987/Zuri%20Landing/AvertaDemoPECuttedDemo-Regular_dghpn7.otf);
}

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  font-family: "Averta", sans-serif;
  font-size: 16px;
}
