:root {
  --red: #e7332b;
  --text-color: #514949;
  --heading-color: #1b1a20;
  --talent-h-color: #161617;
  --talent-p-color: #787878;
}
@font-face {
  font-family: Averta;
  src: url(https://res.cloudinary.com/dafsch2zs/raw/upload/v1596618987/Zuri%20Landing/AvertaDemoPECuttedDemo-Regular_dghpn7.otf);
}

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: #333;
  box-sizing: border-box;
}

html,
body {
  font-family: "Averta", sans-serif;
  font-size: 16px;
  background-color: #fff;
}

h4 {
  color: var(--text-color);
  font-size: 1.1rem;
}

ul {
  list-style-type: none;
}

.a-link {
  color: var(--red);
  cursor: pointer;
}

.new-section {
  background-color: rgb(255, 253, 245);
}

button {
  cursor: pointer;
}
