.why {
  background-color: rgb(255, 248, 229);
  padding: 7rem 7%;
}

.why > h1 {
  font-size: 2.5rem;
  text-align: center;
  color: var(--heading-color);
}

.talents {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  text-align: center;
  position: relative;
}

.talent {
  background-color: #fff;
  padding: 3rem 2.5rem;
  border-bottom-right-radius: 15px;
  margin-top: 1rem;
  z-index: 5;
}

.rope {
  position: absolute;
  top: 18rem;
  left: 0;
  z-index: 3;
}

.talent > :nth-child(1) {
  width: 70px;
}

.talent > p {
  padding-top: 1rem;
  font-size: 1.1rem;
  color: var(--talent-p-color);
}

.talent:hover {
  background-color: rgb(22, 22, 23);
}

.talent:hover > p {
  color: #fff;
}

.btn-talent {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .talents {
    grid-template-columns: 1fr;
  }

  .why > h1 {
    font-size: 2rem;
  }

  .talent > p {
    font-size: 0.9rem;
  }

  .rope {
    display: none;
  }
}
